*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

#error-container {
  display: none;
}

#result-container {
  display: none;
}

#error-container.show {
  display: block;
}

#result-container.show {
  display: block;
}