*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #454545;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: #333333;
  width: 50%;
  height: 50%;
  border-radius: 5px;
  overflow: hidden;
}
 
#input-container {
  display: flex;
  flex-direction: column;
  background-color: black;
}

#input-container label {
  padding: 1em;
  color: white;
  border-top: 5px solid #c90057;
}

#input-container input {
  margin: 0 1em 2em 1em;
}

#error-container {
  display: none;
}

#result-value {
  background-color: #690069;
  padding: 0.2em;
  font-size: 5em;
  border-radius: 50%;
}

#result-container {
  /* height: 100%; */
  width: 100%;
  background-color: blue;
  display: none;
  justify-content: center;
  align-items: center;
}

#error-container.show {
  display: block;
}

#result-container.show {
  display: flex;
}